*.dmdb
*.iml
.classpath
.dm/
.idea/
.jekyll-cache/
.jekyll-metadata
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.sass-cache/
.settings/
.vscode/
_site/
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
